.contentarea{
    min-height: 500px;
    padding: 20px;
}
.footersection{ 
    padding :1rem 1.5rem; 
    text-align: center;
}
.contents{
    padding:20px 0px;
}
h2{
    font-size: 1.6rem;
}
.navbar{
    padding: 0.5rem 0.5rem;
}
.table th, .table td {
    padding: 0.50rem;
}